 <!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<div th:replace="layout/layout :: header"></div>
	<div class="container mt-2">
		<div class="card bg-danger">
		  <h5 class="card-header">Error</h5>
		  <div class="card-body">
		    <h5 class="card-title">Acceso Denegado</h5>
		    <p class="card-text">No tienes permiso para visualizar este recurso </p>
		    <a th:href="@{/}" class="btn btn-light-outline">Ir a Ini cio</a>
		  </div>
		</div>
	</div>

</body>
</html>