<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>

<body>
	<div th:replace="layout/layout :: header"></div>
	<div class="container mt-2">
		<h1 class="text-secondary border-bottom border-3 border-primary" th:text="${titulo}"></h1>
		<form th:accion="@{/equipo/formulario}" th:object="${equipo}" method="post" enctype="multipart/form-data">
		
			<div class="col-4">
				<label class="form-label" for="nombre">Nombre:</label>
				<div>
					<input class="form-control" type="text" th:field="*{nombre}" placeholder="Ingrese nombre del Equipo"
						th:errorclass="'bg-danger bg-opacity-25'" autofocus>
				</div>
				<small class="text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
			</div>	
			<div class="col-4">
				<label class="form-label" for="foto">Foto:</label>
				<div>
					<input class="form-control" type="file" name="file" id="foto">
				</div>
			</div>
			
			<div class="col-4">
				<label class="form-label" for="equipo">Representante:</label>
				<select th:field="*{usuario}" class="form-control" id="equipo" required>
					<th:block sec:authorize="hasRole('ROLE_USER')" th:each="usuario: ${prueba}">
						<option  th:value="${usuario.id}" th:text="${usuario.nombre} +' '+ ${usuario.apellidos}" ></option>
					</th:block>
					<th:block sec:authorize="hasRole('ROLE_SECRETARY')" th:each="usuario: ${usuarios}">
					<option  th:value="${usuario.id}" th:text="${usuario.nombre} +' '+ ${usuario.apellidos}"></option>
					</th:block>
				</select>
			</div>	
			
			<div class="col-4">
				<label class="form-label" for="equipo">Torneos Disponibles:</label>
				<select th:field="*{torneo}" class="form-control" id="equipo" required>
					<th:block th:each="torneo: ${torneos}">
					<option  th:value="${torneo.id}" th:text="${torneo.descripcion}" ></option>
					</th:block>
				</select>
			</div>
		
			<div class="col-4">
				<input class="btn btn-primary mt-2" type="submit" value="Enviar">
			</div>
			
			
		</form>
	</div>

	<div th:replace="layout/layout :: scripts"></div>
</body>
</html>